.imgsec-wrapper {
  display: flex;
  padding: 2px;
  border: 1px solid red;
  margin: 0px;
}

.imgsec-wrapper img {
  transform: scale(0.2);
  height: 200px;
  width: 200px;
}

.imgsec-wrapper h4 {
  margin: 0px;
  display: flex;
  justify-content: center;
}
