.nav-wrapper {
  display: flex;
  /* display: space-evenly; */
  justify-content: space-between;
  align-items: center;
  padding-top: auto;
  /* margin: 10px 1px; */
  height: 70px;
}

.text-wrapper {
  display: flex;
  gap: 22px;
}

.logo-wrapper {
  /* this property removed the background color of the logo */
  mix-blend-mode: multiply;
  /* this property also reduces the size of the logo */
  transform: scale(0.2);
}
.icons {
  display: flex;
  gap: 20px;
}
