.nav-wrapper {
  display: flex;
  /* display: space-evenly; */
  justify-content: space-between;
  align-items: center;
}

.text-wrapper {
  display: flex;
  gap: 22px;
}

.icons {
  dispaly: flex;
  padding: 20px;
  margin: 20px;
  border: 2px solid red;
}
